{% extends "base.html.twig" %}

{% block title %}{{ parent() }} - Ajouter un client{% endblock %}

{% block body %}
<div class="app-main__inner">
    <div class="app-page-title">
        <div class="page-title-wrapper">
            <div class="page-title-heading">
                <div class="page-title-icon">
                    <i class="pe-7s-science icon-gradient bg-happy-itmeo">
                    </i>
                </div>
                <div>Clients
                    <div class="page-title-subheading">Veuillez remplir le formulaire ci-dessous pour vous inscrire
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div style="margin-bottom: 10px;" class="row">
        <div class="offset-4">
            <a  href="http://localhost/PDO_Messagerie/public/client/connexion"><button class="btn btn-success">Déjà inscrit ? Connectez-vous !</button></a>
        </div>
    </div>

    <div class="row">

        <div class="col-md-8 offset-2">
            <div class="main-card mb-3 card">
                <div class="card-body"><h5 class="card-title">Ajouter un client</h5>
                    {{ include ('Client/_form.html.twig') }}
                </div>
            </div>
        </div>
    </div>
    {% endblock %}
