<div class="app-wrapper-footer">
    <div class="app-footer">
        <div class="app-footer__inner">

            <div class="app-footer-right">
                <ul class="header-megamenu nav">


                    <li class="nav-item">
                        <a data-placement="top" rel="popover-focus" data-offset="300" data-toggle="popover-custom" class="nav-link">
                            @Live-London TM By Cours Center

                        </a>

                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>